@using QXFC.Utility
@model QXFC.Model.YxBaseAgentListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

//删除
function _delete(id) {
        if (!confirm("你确认要删除该信息吗?"))
                return;

        $.ajax({
                type: "post",
                data: { id: id },
                url: '/YxBaseAgent/Delete',
                success: function (data) {
                        data = $.parseJSON(data);
                        alert(data.message)
                },
                error: function () {
                        alert("调用失败，请重试");
                }
        });
}
// 添加或编辑
function add(id,title) {
        popEditDialog('/YxBaseAgent/Item', 'id=' + id, title);
}


</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
        <p class="sc_p">
               绑定时间:
               <input class="list_input Wdate" type="text" name="st" id="s" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                   -
               <input class="list_input Wdate" type="text" name="et" id="e" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'s\')}'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </p>
          <p class="sc_p">
             代理人类型0:
             @Html.DropDownList("YxBaseAgent", new SelectList(SystemDictionary.Instance.GetDataList(), "Value", "Name"), "--请选择--")
          </p>          <p class="sc_p">
             省份:
             @Html.DropDownList("YxBaseAgent", new SelectList(Province.Instance.GetDataList(), "No", "ProvinceName"), "--请选择--")
          </p>          <p class="sc_p">
             公司性质1:
             @Html.DropDownList("YxBaseAgent", new SelectList(SystemDictionary.Instance.GetDataList(), "Value", "Name"), "--请选择--")
          </p>          <p class="sc_p">
             公司编号:
             @Html.DropDownList("YxBaseAgent", new SelectList(Company.Instance.GetDataList(), "CompanyId", "CompanyName"), "--请选择--")
          </p>          <p class="sc_p">
             纳税人规模1:
             @Html.DropDownList("YxBaseAgent", new SelectList(SystemDictionary.Instance.GetDataList(), "Value", "Name"), "--请选择--")
          </p>          <p class="sc_p">
             状态:
             @Html.DropDownList("YxBaseAgent", new SelectList(SystemDictionary.Instance.GetDataList(), "Value", "Name"), "--请选择--")
          </p>          <p class="sc_p">
             下游渠道:
             @Html.DropDownList("YxBaseAgent", new SelectList(DownChannel.Instance.GetDataList(), "No", "DownChannelName"), "--请选择--")
          </p>              <p class="sc_p">
                   身份证/纳税识别号: <input class="search_input"  type="text" name="CertificateNo" />
              </p>              <p class="sc_p">
                   手机号码: <input class="search_input"  type="text" name="Mobile" />
              </p>              <p class="sc_p">
                   0: <input class="search_input"  type="text" name="GroupAgent" />
              </p>
       <p class="sc_p">
            <input class="list_submit" type="button" />
            <input type="button" onclick="add('','添加')" class="add_btn hand" />
       </p>

    </div>
    <input type="hidden" value="0" name="pi" id="pi" />
    <input type="hidden" value="10" name="ps" id="ps" />
    <input type="hidden" value="@Model.TotalCount" id="count" />
    </form>
    <div>
    </div>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
           <table width="100%" border="0" cellpadding="0" cellspacing="0" nodata="*">
        <thead>
            <tr>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>
                        <th>undefined<th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                                           <td>@item.GetDataValue("AgentIdName")<td>
                        <td>@item.AgentName<td>
                        <td>@item.GetDataValue("AgentTypeName")<td>
                        <td>@item.CertificateNo<td>
                        <td>@item.Mobile<td>
                        <td>@item.GetDataValue("ProvinceNoName")<td>
                        <td>@item.GetDataValue("CompanyNatureName")<td>
                        <td>@item.GetDataValue("CompanyIdName")<td>
                        <td>@item.GetDataValue("TaxpayerSizeName")<td>
                        <td>@item.Balance<td>
                        <td>@item.GetDataValue("StatusName")<td>
                        <td>@item.CreatedUser<td>
                        <td>@item.CreatedTime<td>
                        <td>@item.LastEditUser<td>
                        <td>@item.LastEditTime<td>
                        <td>@item.GetDataValue("DownChannelNoName")<td>
                        <td>@item.GetDataValue("OutAgentIdName")<td>
                        <td>@item.GroupAgent<td>
                        <td>@item.GroupCount<td>

                </tr>
            }
        </tbody>
    </table>
   
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
