@using SettleAccount.Utility
@model SettleAccount.Model.QyTradeDownFundListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

//删除
function _delete(id) {
        if (!confirm("你确认要删除该信息吗?"))
                return;

        $.ajax({
                type: "post",
                data: { id: id },
                url: '/QyTradeDownFund/Delete',
                success: function (data) {
                        data = $.parseJSON(data);
                        alert(data.message)
                },
                error: function () {
                        alert("调用失败，请重试");
                }
        });
}
// 添加或编辑
function add(id,title) {
        popEditDialog('/QyTradeDownFund/Item', 'id=' + id, title);
}


// ????
function exportExcel() {
        conditionForm.action = "/QyTradeDownFund/ExportExcel/";
        conditionForm.target = "_blank";
        conditionForm.method = "post";
        conditionForm.submit();
        conditionForm.action = "";
        conditionForm.target = "";
        conditionForm.method = "get"
        return false;
}

</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
        <p class="sc_p">
               绑定时间:
               <input class="list_input Wdate" type="text" name="st" id="s" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                   -
               <input class="list_input Wdate" type="text" name="et" id="e" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'s\')}'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </p>
          <p class="sc_p">
             下游渠道编号:
             @Html.DropDownList("DownChannelNo", new SelectList(DownChannelService.Instance.GetDataList(), "No", "DownChannelName"), "--请选择--")
          </p>          <p class="sc_p">
             下游支付账号:
             @Html.DropDownList("DownAccountId", new SelectList(DownAccountService.Instance.GetDataList(), "DownAccountId", "DownAccountName"), "--请选择--")
          </p>          <p class="sc_p">
             变更类型:
             @Html.DropDownList("ChangeType", new SelectList(SystemDictionaryService.Instance.GetDataList("ChangeType"), "Value", "Name"), "--请选择--")
          </p>              <p class="sc_p">
                   交易系统订单号(激活编号): <input class="search_input"  type="text" name="TradeOrderNo" />
              </p>              <p class="sc_p">
                   扩展订单号交易(权益卡号): <input class="search_input"  type="text" name="ExtOrderNo" />
              </p>              <p class="sc_p">
                   扩展号(合同编号): <input class="search_input"  type="text" name="ExtContractNo" />
              </p>
       <p class="sc_p">
            <input class="list_submit" type="button" />
            <input type="button" onclick="add('','添加')" class="add_btn hand" /><input type="button" id="btnExport" class="export_btn hand" />
       </p>

    </div>
    <input type="hidden" value="0" name="pi" id="pi" />
    <input type="hidden" value="10" name="ps" id="ps" />
    <input type="hidden" value="@Model.TotalCount" id="count" />
    </form>
    <div>
    </div>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
           <table width="100%" border="0" cellpadding="0" cellspacing="0" nodata="*">
        <thead>
            <tr>
                        <th>下游变动编号</th>
                        <th>记账系统订单号</th>
                        <th>交易系统订单号(激活编号)</th>
                        <th>扩展订单号交易(权益卡号)</th>
                        <th>扩展号(合同编号)</th>
                        <th>权益包名称</th>
                        <th>订单来源（系统编号）</th>
                        <th>下游渠道编号</th>
                        <th>下游支付账号</th>
                        <th>变动创建时间</th>
                        <th>订单日期(激活时间)</th>
                        <th>变更类型</th>
                        <th>订单金额</th>
                        <th>变动金额(销售金额)</th>
                        <th>订单面值(权益包价值)</th>
                        <th>变动面值</th>
                        <th>账户余额</th>
                        <th>备注</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                                           <td>@item.RecordId</td>
                        <td>@item.QyOrderId</td>
                        <td>@item.TradeOrderNo</td>
                        <td>@item.ExtOrderNo</td>
                        <td>@item.ExtContractNo</td>
                        <td>@item.ProductName</td>
                        <td>@item.OrderSource</td>
                        <td>@item.GetDataValue("DownChannelNoName")</td>
                        <td>@item.GetDataValue("DownAccountIdName")</td>
                        <td>@item.ChangeTime</td>
                        <td>@item.OrderTime</td>
                        <td>@item.GetDataValue("ChangeTypeName")</td>
                        <td>@item.OrderAmount</td>
                        <td>@item.ChangeAmount</td>
                        <td>@item.OrderFace</td>
                        <td>@item.ChangeFace</td>
                        <td>@item.Balance</td>
                        <td>@item.Memo</td>

                </tr>
            }
        </tbody>
    </table>
   
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
