@using SettleAccount.Utility
@model SettleAccount.Model.QyBaseDownChannelListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });


// 添加或编辑
function add(id,title) {
        popEditDialog('/QyBaseDownChannel/Item', 'id=' + id, title);
}


// ????
function exportExcel() {
        conditionForm.action = "/QyBaseDownChannel/ExportExcel/";
        conditionForm.target = "_blank";
        conditionForm.method = "post";
        conditionForm.submit();
        conditionForm.action = "";
        conditionForm.target = "";
        conditionForm.method = "get"
        return false;
}

</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
        <p class="sc_p">
               创建时间:
               <input class="list_input Wdate" type="text" name="st" id="s" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                   -
               <input class="list_input Wdate" type="text" name="et" id="e" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'s\')}'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </p>
          <p class="sc_p">
             状态:
             @Html.DropDownList("Status", new SelectList(SystemDictionaryService.Instance.GetDataList("Status"), "Value", "Description"), "--请选择--")
          </p>          <p class="sc_p">
             下游支付账户:
             @Html.DropDownList("AccountId", new SelectList(QyBaseDownAccountService.Instance.GetDataList(), "AccountId", "AccountName"), "--请选择--")
          </p>
       <p class="sc_p">
            <input class="list_submit" type="button" />
            <input type="button" onclick="add('','添加')" class="add_btn hand" />
<input type="button" id="btnExport" class="export_btn hand" />
       </p>

    </div>
    <input type="hidden" value="0" name="pi" id="pi" />
    <input type="hidden" value="10" name="ps" id="ps" />
    <input type="hidden" value="@Model.TotalCount" id="count" />
    </form>
    <div>
    </div>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
           <table width="100%" border="0" cellpadding="0" cellspacing="0" nodata="*">
        <thead>
            <tr>
                        <th>渠道编号</th>
                        <th>渠道名称</th>
                        <th>所属公司</th>
                        <th>所属系统编号</th>
                        <th>状态</th>
                        <th>佣金余额</th>
                        <th>报警余额</th>
                        <th>下游账户id</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>最后更新人</th>
                        <th>最后更新时间</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                        <td>@item.ChannelNo</td>
                        <td>@item.ChannelName</td>
                        <td>@item.CompanyId</td>
                        <td>@item.SourceSystemId</td>
                        <td>@item.GetDataValue("StatusName")</td>
                        <td>@item.CommiBalance</td>
                        <td>@item.WarnBalance</td>
                        <td>@item.GetDataValue("AccountName")</td>
                        <td>@item.CreatedUser</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.LastEditUser</td>
                        <td>@item.LastEditTime</td>

                </tr>
            }
        </tbody>
    </table>
   
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
