<template>
        <MyModal title="title" ref="modal" @ok="ok">
             <Form ref="form" :model="query" :rules="rules" :label-width="150">
              <% requiredFields.forEach(r=>{%>
                <% if(r.type=="select"){ %> 
                        <FormItem   label="<%=r.model%>" prop="<%=r.model%>">
                                <MySelect  v-model="query.<%=r.model%>"  enum="<%=r.enum%>" width="100%" />
                        </FormItem>
                <% } %> 

                <% if(r.type=="text"){ %> 
                        <FormItem   label="<%=r.name%>" prop="<%=r.name%>">
                                <Input v-model="query.<%=r.name%>" placeholder="Input value"/>
                        </FormItem>
                <% } %>

                <% if(r.type=="textArea"){ %> 
                 <% } %>  
                
              <%}); %> 
          </Form>
        </MyModal>
        
      </template>
      <script>
      import utils from "./../../../common";
      export default {
         props:utils.addProps(),

        data() {
            return {
                rules:<%-rules%>,
                query:<%-query%>,
                api: <%-api%>,
            }
        },
        created(){
            this.$utils.copyFieldsFrom(this.query,this.model);
         },
      
         watch:{
                model(newVal) {
      this.$utils.resetQuery(this.query);
      utils.copyFieldsFrom(this.query, newVal);
    },
         },
      
        methods: {
          show(){
            this.$refs.modal.show()
          },
          close(){
              this.$refs.modal.close();
          },
          ok(){
            this.$refs.form.validate(valid=>{
                    if(valid){
                      this.$utils.handleNormalRequest.call(this,async ()=>{
                        return this.$api.<%=name%>.add(this.query);
                      });
                    }
            });
          }
      
        },
      };
      </script>
      <style scoped>
      .footer{
        text-align: right;
      }
      </style>