@using SettleAccount.Utility
@model SettleAccount.Model.QyBaseDownAccountListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
@exportExcel
    });

//删除
function _delete(id) {
        if (!confirm("你确认要删除该信息吗?"))
                return;

        $.ajax({
                type: "post",
                data: { id: id },
                url: '/QyBaseDownAccount/Delete',
                success: function (data) {
                        data = $.parseJSON(data);
                        alert(data.message)
                },
                error: function () {
                        alert("调用失败，请重试");
                }
        });
}

// 添加或编辑
function add(id,title) {
        popEditDialog('/QyBaseDownAccount/Item', 'id=' + id, title);
}


// 导出excel
function exportExcel() {
        conditionForm.action = "/QyBaseDownAccount/ExportExcel/";
        conditionForm.target = "_blank";
        conditionForm.method = "post";
        conditionForm.submit();
        conditionForm.action = "";
        conditionForm.target = "";
        conditionForm.method = "get"
        return false;
}

</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
        <p class="sc_p">
               @lable:
               <input class="list_input Wdate" type="text" name="st" id="s" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                   -
               <input class="list_input Wdate" type="text" name="et" id="e" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'s\')}'});" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </p>

       <p class="sc_p">
            <input class="list_submit" type="button" />
            <input type="button" onclick="add('','添加')" class="add_btn hand" />
<input type="button" id="btnExport" class="export_btn hand" />

       </p>
@content

    </div>
    <input type="hidden" value="0" name="pi" id="pi" />
    <input type="hidden" value="10" name="ps" id="ps" />
    <input type="hidden" value="@Model.TotalCount" id="count" />
    </form>
    <div>
    </div>
    <div class="list_content" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
           <table width="100%" border="0" cellpadding="0" cellspacing="0" nodata="*">
        <thead>
            <tr>
                        <th>账户编号</th>
                        <th>账号名称</th>
                        <th>查询余额</th>
                        <th>理论余额</th>
                        <th>授信金额</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                        <th>最后更新人</th>
                        <th>最后更新时间</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                                           <td>@item.GetDataValue("AccountIdName")</td>
                        <td>@item.AccountName</td>
                        <td>@item.QueryBalance</td>
                        <td>@item.InnerBalance</td>
                        <td>@item.CreditMoney</td>
                        <td>@item.CreatedUser</td>
                        <td>@item.CreatedTime</td>
                        <td>@item.LastEditUser</td>
                        <td>@item.LastEditTime</td>

                </tr>
            }
        </tbody>
    </table>
   
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
