@model SettleAccount.Model.QyBaseDownAccountItemModel
<script type="text/javascript">
    $(function () {
        $('#mainForm').validate({
            errorClass: "error",
            focusInvalid: true,
            submitHandler: function (form) {
                if (!$(form).valid()) {
                    return false;
                }
                var data = $(form).serialize();
                $.ajax({
                    type: "post",
                    data: data,
                    url: "/QyBaseDownAccount/item",
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (data.Status) {
                            var id = $('input[name=__id]').val();
                            alert(data.Message);
                            if (id != '') {
                                refreshCurrentPage();
                            }
                            return true;
                        } else {
                            alert(data.Message);
                        }
                        return false;
                    },
                    error: function () {
                        alert("请求出错");
                    }
                });
            },
            rules: {
                AccountId: { required: true },
                AccountName: { required: true },
                QueryBalance: { required: true },
                InnerBalance: { required: true },
                CreditMoney: { required: true },
            },
            messages: {
        }
    });
    $('select').each(function () {
        if ($(this).css('display') != "none") {
            $(this).sSelect();
        }
    });
});


</script>
<form id="mainForm" method="post">
<input type="hidden" name="__id" value="@Model.Id" />
<table>
<tr>
        <td width="120" class="textalign_r">
        <em class="required">*</em>账户编号
    </td>
    <td width="300" class="textalign_l">
        <p class="sc_p">
            @Html.DropDownList("AccountId", new SelectList(AccountService.Instance.GetChannelList(), "AccountId", "AccountName", Model.CurrentModel.AccountId), "--请选择--")
        </p>
    </td>
</tr><tr>
        <td class="textalign_r">
        <em class="required">*</em>账号名称
    </td>
    <td width="300" class="textalign_l">
        <input class="widthinput" type="text" name="AccountName" value="@Model.CurrentModel.AccountName"  style="width:300px"/>
    </td>
</tr><tr>
        <td class="textalign_r">
        <em class="required">*</em>查询余额
    </td>
    <td width="300" class="textalign_l">
        <input class="widthinput" type="text" name="QueryBalance" value="@Model.CurrentModel.QueryBalance"  style="width:300px"/>
    </td>
</tr><tr>
        <td class="textalign_r">
        <em class="required">*</em>理论余额
    </td>
    <td width="300" class="textalign_l">
        <input class="widthinput" type="text" name="InnerBalance" value="@Model.CurrentModel.InnerBalance"  style="width:300px"/>
    </td>
</tr><tr>
        <td class="textalign_r">
        <em class="required">*</em>授信金额
    </td>
    <td width="300" class="textalign_l">
        <input class="widthinput" type="text" name="CreditMoney" value="@Model.CurrentModel.CreditMoney"  style="width:300px"/>
    </td>
</tr>
</table>
</form>
