@model @project.name.Model.@table.nameListModel
@{
    Layout = "~/Views/Share;'d/_Layout.cshtml";
}
<script type="text/javascript">
 /*
  *
  */
    function MRCenterMsg() {
        this.bind = function () {
            $.paging.config.form = "#conditionForm";
            $.paging.bind();
            $("#ddlps").val($("#ps").val());
            $("#ddlps").change(function () {
                $("#ps").val($(this).val());
            });
            $(".list_submit").click(function () {
                $.paging.submit();
            });
        }
    }

    $(function () {
        var user = new MRCenterMsg();
        user.bind();
    });

@js.1 @js.2@js.3@js.4@js.5@js.6@js.7@js.8
</script>
<div class="channel_list">
    <form method="get" id="conditionForm">
    <div class="con_search_box clearfix">
         @filter.1 @filter.2 @filter.3 @filter.4  @filter.5 @filter.6 @filter.7 @filter.8@filter.9@filter.10
    </div>
    </form>
    <div>
    </div>
    <div class="@showtable" id="divshelflist">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            @s.table
        </table>
        <div class="list_number">
            共 @Model.TotalCount 条记录 | 每页显示:
            <select id="ddlps">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            条
        </div>
        <div id="pager" class="list_pager">
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>
